{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %} Resetowanie hasła {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}

<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post">
                    {% csrf_token %}
					<span class="login100-form-title p-b-51">
						Resetowanie hasła
					</span>

                    <div class="input100 validate-input m-b-51 m-l-20">
                        Twoje hasło zostało zmienione.
					</div>

                    <div class="container-login100-form-btn m-t-17">
						<a class="login100-form-btn" href="{% url 'registration:login' %}">
							Zaloguj się
						</a>
					</div>

				</form>
			</div>
		</div>
	</div>


<div id="dropDownSelect1"></div>

{% endblock %}