{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %} Resetowanie hasła {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w">
					<span class="login100-form-title p-b-51">
						Resetowanie hasła
					</span>

                    <div class="login100-form-title p-b-51">
						<a>Na Twój adres email został wysłany link resetujący hasło.</a>

						<span class="focus-input100"></span>
					</div>

					<div class="login100-form-title p-b-51">
						Sprawdź skrzynkę!
						<span class="focus-input100"></span>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

{% endblock %}