{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %} Resetowanie hasła {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}

{% if validlink %}
	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post">
					{% csrf_token %}
					<span class="login100-form-title p-b-51">
						Resetowanie hasła
					</span>

                    <div class="wrap-input100 validate-input m-b-16">
                        {{ form.new_password1|add_class:"input100"|attr:"placeholder:Wpisz nowe hasło" }}
                    </div>

					<div class="wrap-input100 validate-input m-b-16">
                        {{ form.new_password2|add_class:"input100"|attr:"placeholder:Potwierdź nowe hasło" }}
                    </div>

					{% for field in form %}
					<div class="text-danger">
						{% if field.errors %}
							<ol>
							{% for error in field.errors %}
								<li><strong>{{ error|escape }}</strong></li>
							{% endfor %}
							</ol>
						{% endif %}
					</div>
					{% endfor %}

                    <div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							Potwierdź
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>

{% else %}
    <div class="limiter">
        <div class="container-login100">
            <div class="wrap-login100 p-t-50 p-b-90">
                <form class="login100-form validate-form flex-sb flex-w" method="post">
                    {% csrf_token %}
                    <span class="login100-form-title p-b-51">
                        Resetowanie hasła
                    </span>

                    <div class="wrap-input100 validate-input m-b-16">
						Link resetujący hasło jest niepoprawny, prawdopodobnie został już wcześniej użyty.
                    </div>

                    <div class="wrap-input100 validate-input m-b-16">
                        Przeprowadź ponowny proces resetowania hasła.
                    </div>

                </form>
            </div>
        </div>
    </div>
    <div id="dropDownSelect1"></div>

{% endif %}

{% endblock %}