{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %} Resetowanie hasła {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}

	<div class="limiter">
		<div class="container-login100" style="min-height: 80vh">
			<div class="wrap-login100 p-t-50 p-b-90">
				<form class="login100-form validate-form flex-sb flex-w" method="post">
					{% csrf_token %}
					<span class="login100-form-title p-b-51">
						Resetowanie hasła
					</span>
					<span style="text-align: justify" class="m-b-20">Po poprawnym założeniu konta na Twój adres mailowy została wysłana wiadomość z informacjami dotyczącymi Twojego konta, między innymi hasło.</span>
					<span style="text-align: justify" class="m-b-20">Wejdź na swoją skrzynkę mailową, znajdź wiadomość o tytule <b>Utworzenie nowego konta - Wan-Plac Krutyń</b> i sprawdź swoje aktuane hasło.</span>
					<span style="text-align: justify" class="m-b-20">Jeśli mimo to chcesz zmienić swoje hasło (rozwiązanie niezalecane), wpisz swój email i postępuj dalej zgodnie z zaleceniami</span>
					<div class="wrap-input100 validate-input m-b-16">
						{{ form.email|add_class:"input100"|attr:"placeholder:Podaj adres email" }}
						<span class="focus-input100"></span>
					</div>

					<div class="container-login100-form-btn m-t-17">
						<button class="login100-form-btn" type="submit">
							Potwierdź
						</button>
					</div>

				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

{% endblock %}