{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Admin Panel {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}

<div class="limiter">

		<div class="container-login100 flex-sb flex-w" style="min-height: 70vh">
		<div class="row login100-form p-b-90" style="width:600px">
			{% csrf_token %}

			<span class="login100-form-title p-t-40 p-b-51">
				Stan kajaków
			</span>

			<div class="m-b-50 m-t-20" style="width: 100%; padding: 15px">
                <div class="row" style="height: auto">
					<div class="col-sm-4 border border-dark">
						<div class="profile-variable">
							<b>{{ app1_current_day }}</b>
						</div>
						{% for kayak in app1_current_kayak %}
							<div class="profile-variable">
								{{ kayak.name }}: {{ kayak.store }}/{{ kayak.stock }}
							</div>
						{% endfor %}
					</div>
					<div class="col-sm-4 border border-dark">
						<div class="profile-variable">
							<b>{{ app2_current_day }}</b>
						</div>
						{% for kayak in app2_current_kayak %}
							<div class="profile-variable">
								{{ kayak.name }}: {{ kayak.store }}/{{ kayak.stock }}
							</div>
						{% endfor %}
					</div>
					<div class="col-sm-4 border border-dark">
						<div class="profile-variable">
							<b>{{ client_panel_current_day }}</b>
						</div>
						{% for kayak in client_panel_current_kayak %}
							<div class="profile-variable">
								{{ kayak.name }}: {{ kayak.store }}/{{ kayak.stock }}
							</div>
						{% endfor %}
					</div>
                </div>
			</div>

			<span class="login100-form-title p-t-40 p-b-51">
				Wszystkie zamówienia
			</span>


			{% language 'pl' %}
				{% for date in date %}

						<div class="container-login100-form-btn m-b-10">
							<button  type="button" class="admin-panel-date-btn" data-toggle="collapse" data-target="#{{ date.booking_date }}" aria-expanded="true">
								{{ date.booking_date }} </button>
						</div>
						<div class="collapse" id="{{ date.booking_date }}" style="width:600px; ">
							<div class="m-b-50 m-t-20">

								{% for booking in union %}
									{% if date.id == booking.booking_date_id %}

										<div class="m-b-10">
											<button  type="button" class="admin-panel-booking-btn" data-toggle="collapse" data-target="#{{ booking.exact_time }}" aria-expanded="true">
												<i class="fas fa-chevron-right m-r-15 fa-2x" style="color: #3366ff"></i>
												{{ booking.first_name }} {{ booking.last_name }} - zamówienie {{ booking.code }} ({{ booking.exact_time }})
												{% if booking.active is True %}
													<i class="m-l-10 far fa-check-circle fa-3x" style="color:green"></i>
												{% elif booking.active is False and current_time > change_booking_state %}
													<i class="m-l-10 far fa-times-circle fa-3x" style="color:red"></i>
												{% endif %}
											</button>
										</div>

										<div class="collapse" id="{{ booking.exact_time }}" style="width:550px">
											<div class="m-b-50 m-t-20">
												<div class="row" style="height: 35px">
													<div class="input100 col-sm-6" style="color: black">
														Data zamówienia:
													</div>
													<div class="input100 col-sm-6" style="font-family: Ubuntu; color: black">
														{{ booking.exact_time }}
													</div>
												</div>
												<div class="row" style="height: 35px">
													<div class="input100 col-sm-6" style="color: black">
														Numer zamówienia:
													</div>
													<div class="input100 col-sm-6" style="font-family: Ubuntu; color: black">
														{{ booking.code }}
													</div>
												</div>
												<div class="row" style="height: 35px">
													<div class="input100 col-sm-6" style="color: black">
														Rezerwacja na:
													</div>
													<div class="input100 col-sm-6" style="font-family: Ubuntu; color: black">
														{{ booking.first_name }} {{ booking.last_name }}
													</div>
												</div>
												<div class="row" style="height: 35px">
													<div class="input100 col-sm-6" style="color: black">
														Wybrana trasa:
													</div>
													<div class="input100 col-sm-6" style="font-family: Ubuntu; color: black">
														{{ booking.route.name }}
													</div>
												</div>
												<div class="row" style="height: 35px">
													<div class="input100 col-sm-6" style="color: black">
														Dystans:
													</div>
													<div class="input100 col-sm-6" style="font-family: Ubuntu; color: black">
														{{ booking.route.distance }}
													</div>
												</div>
												<div class="row" style="height: 35px">
													<div class="input100 col-sm-6" style="color: black">
														Godzina spływu:
													</div>
													<div class="input100 col-sm-6" style="font-family: Ubuntu; color: black">
														{{ booking.time }}
													</div>
												</div>
												<div class="row" style="height: 35px">
													<div class="input100 col-sm-6" style="color: black">
														Nr telefonu:
													</div>
													<div class="input100 col-sm-6" style="font-family: Ubuntu; color: black">
														{{ booking.phone }}
													</div>
												</div>
												<div class="row" style="height: 35px">
													<div class="input100 col-sm-6" style="color: black">
														Adres email:
													</div>
													<div class="input100 col-sm-6" style="font-family: Ubuntu; color: black">
														{{ booking.email }}
													</div>
												</div>


												<div class="row m-t-30" style="height: 35px">
													<div class="input100 col-sm-5" style="color: black">
														Wypożyczony sprzęt:
													</div>
													<div class="input100 col-sm-3" style="color: black">
														Rodzaj
													</div>
													<div class="input100 col-sm-2" style="color: black">
														Ilość
													</div>
												</div>
												{% for kayak in kayak %}
													{% if kayak.booking_id == booking.id %}
														<div class="row" style="height: 35px">
															<div class="input100 col-sm-5">

															</div>
															<div class="input100 col-sm-3" style="font-family: Ubuntu; color: black">
																{{ kayak }}
															</div>
															<div class="input100 col-sm-2" style="font-family: Ubuntu; color: black">
																{{ kayak.quantity }}
															</div>
														</div>
													{% endif %}
												{% endfor %}
											</div>
										</div>
									{% endif %}
								{% endfor %}


							</div>
						</div>

				{% endfor %}
			{% endlanguage %}

		</div>
	</div>
</div>


{% include "main_page/footerbar.html" %}

{% endblock %}

{% block body_scripts_additional %}


{% endblock body_scripts_additional %}