{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Strona główna {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}

<div class="limiter">
	<div class="container-login100 flex-sb flex-w" style="min-height: 30vh">
		<div class="row login100-form p-b-90" style="width:600px">

			{% csrf_token %}
			<span class="login100-form-title p-t-20 p-b-30" style="font-size: 20px">
				Rezerwacja została zatwierdzona!
			</span>

			<span class="m-b-20">Na adres <b>{{ union.email }}</b> została wysłana wiadomość z najważniejszeymi informacjami dotyczącymi Twojego zamówienia.</span>
			{% language 'pl' %}

				<span class="login100-form-title p-b-20" style="font-size: 20px; text-align: left; color: red">
					UWAGA! WAŻNE!
				</span>
				<span class="m-b-30">Rezerwacja pozostanie <b>aktywna</b> jeśli zostanie potwierdzona w dniu spływu
											<b>({{ union.booking_date }})</b> do godziny <b>9.00</b>!</span>
				<span class="m-b-15">Sposoby potwierdzenia rezerwacji (do wyboru):</span>
				<span>1. Wysłać wiadomość <b>SMS</b> pod numer<b><a style="color: #827ffe; font-size: 17px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'" href="tel:+48600029035"> <i class="fas fa-phone"></i> 600 029 035</a></b> z informacją:</span>
				<span class="m-b-15 m-t-15" style="text-align: center; width: 100%"><b>Imię Nazwisko potwierdzam rezerwację.</b></span>
				<span class="m-b-20">2. <b>Zadzwonić</b> pod numer <b><a style="color: #827ffe; font-size: 17px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'" href="tel:+48600029035"> <i class="fas fa-phone"></i> 600 029 035</a></b> i potwierdzić swój przyjazd.</span>

				<span class="m-b-5">Jeśli rezerwacja nie zostanie potwierdzona skontaktujemy się z Państwem pod podany w
											formularzu numer telefonu w celu weryfikacji rezerwacji.</span>


				<div class="container-login100-form-btn m-t-30 m-b-50">
					<button  type="button" class="login100-form-btn" data-toggle="collapse" data-target="#{{ union.exact_time }}" aria-expanded="true">Sprawdź szczegóły swojego zamówienia</button>
				</div>
				<div class="collapse" id="{{ union.exact_time }}" style="width:550px">
					<div class="m-b-50 m-t-20">
						<div class="row" style="height: 35px">
							<div class="input100 col-sm-6">
								Data zamówienia:
							</div>
							<div class="input100 col-sm-6">
								{{ union.exact_time }}
							</div>
						</div>
						<div class="row" style="height: 35px">
							<div class="input100 col-sm-6">
								Rezerwacja na:
							</div>
							<div class="input100 col-sm-6">
								{{ union.first_name }} {{ union.last_name }}
							</div>
						</div>
						<div class="row" style="height: 35px">
							<div class="input100 col-sm-6">
								Wybrana trasa:
							</div>
							<div class="input100 col-sm-6">
								{{ union.route.name }}
							</div>
						</div>
						<div class="row" style="height: 35px">
							<div class="input100 col-sm-6">
								Dystans:
							</div>
							<div class="input100 col-sm-6">
								{{ union.route.distance }}
							</div>
						</div>
						<div class="row" style="height: 35px">
							<div class="input100 col-sm-6">
								Data spływu:
							</div>
							<div class="input100 col-sm-6">
								{{ union.booking_date }}
							</div>
						</div>
						<div class="row" style="height: 35px">
							<div class="input100 col-sm-6">
								Godzina spływu:
							</div>
							<div class="input100 col-sm-6">
								{{ union.time }}
							</div>
						</div>
						<div class="row" style="height: 35px">
							<div class="input100 col-sm-6">
								Nr telefonu:
							</div>
							<div class="input100 col-sm-6">
								{{ union.phone }}
							</div>
						</div>
						<div class="row" style="height: 35px">
							<div class="input100 col-sm-6">
								Adres email:
							</div>
							<div class="input100 col-sm-6">
								{{ union.email }}
							</div>
						</div>


                        <div class="row m-t-30" style="height: 35px">
                            <div class="input100 col-sm-5">
                                Wypożyczony sprzęt:
                            </div>
                            <div class="input100 col-sm-3">
                                Rodzaj
                            </div>
                            <div class="input100 col-sm-2">
                                Ilość
                            </div>
                        </div>
						{% for kayak in kayak %}
							{% if kayak.exact_time|time:"H:i:s" == union.exact_time|time:"H:i:s" %}

									<div class="row" style="height: 35px">
										<div class="input100 col-sm-5">
											{{ kayak.id }}
										</div>
										<div class="input100 col-sm-3">
											{{ kayak.kayak.name }}
										</div>
										<div class="input100 col-sm-2">
											{{ kayak.quantity }}
										</div>
									</div>

							{% endif %}
						{% endfor %}
					</div>
				</div>

			{% endlanguage %}

			<div>
				<span>Przejdź do swoich zamówień:<a class="btn m-b-5" href="{% url 'main:my_booking' %}" style="font-size: 17px; color: #827ffe" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'"><i class="fas fa-long-arrow-alt-right"></i>  Moje zamówienia</a></span><br>
				<span>Przejdź do strony głównej:<a class="btn m-b-5" href="{% url 'main:main' %}" style="font-size: 17px; color: #827ffe" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'"><i class="fas fa-long-arrow-alt-right"></i>  Strona główna</a></span>
			</div>



		</div>
	</div>
</div>


{% endblock %}

{% block body_scripts_additional %}



{% endblock body_scripts_additional %}