{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Kontakt {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}


<div class="container-login100 flex-sb flex-w" style="min-height: 20vh">
    <div class="login100-form-row" style="width:600px">
        {% csrf_token %}

            <span class="login100-form-title m-t-40 p-b-10">
                Wan-Plac Krutyń
            </span>
            <div class="border" style="width: 100%; text-align: center; font-family: Ubuntu-Bold; font-size: 20px">
                Olga i Dariusz Sakowscy
            </div>


            <div class="m-t-50" style="width: 100%">
                <div class="row">
                    <div class="col-4">
                        <img src="/static/media/logo.jpg"  width="190" height="137">
                    </div>
                    <div class="col-8"><br><br>
                        <b><a target="_blank" style="color: #827ffe; font-size: 20px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'" href="https://krutyniasplywy.pl/">
                            nasza strona internetowa</a></b><br>
                    </div>
                </div>
            </div>

            <div class="m-t-50" style="width: 100%; padding: 15px">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-phone-volume fa-8x"></i>
                    </div>
                    <div class="col-8"><br>
                        <b><a style="color: #827ffe; font-size: 20px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'" href="tel:+48600029035">600 029 035</a></b><br>
                        <b><a style="color: #827ffe; font-size: 20px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'" href="tel:+48600449852">600 449 852</a></b>
                    </div>
                </div>
            </div>
            <div class="m-t-50" style="width: 100%; padding: 15px">
                <div class="row">
                    <div class="col-4">
                        <i class="far fa-envelope fa-8x"></i>
                    </div>
                    <div class="col-8"><br><br>
                        <b><a style="color: #827ffe; font-size: 20px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'">wanplac@gmail.com</a></b><br>
                    </div>
                </div>
            </div>
            <div class="m-t-50" style="width: 100%; padding: 15px">
                <div class="row">
                    <div class="col-4">
                        <i class="fas fa-location-arrow fa-8x"></i>
                    </div>
                    <div class="col-8"><br><br>
                        <b><a target="_blank" style="color: #827ffe; font-size: 20px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'" href="https://www.google.pl/maps/dir//Wan+Plac+-+Sp%C5%82ywy+Kajakami+i+%C5%81odziami,+Parking+Wan+Plac,+11-710+Kruty%C5%84/@53.6899193,21.4336224,17z/data=!4m9!4m8!1m0!1m5!1m1!1s0x46e1f87f7ffc7b63:0xebe729de3a837142!2m2!1d21.4358111!2d53.6899193!3e0">
                            wyznacz drogę w Google Maps</a></b><br>
                    </div>
                </div>
            </div>


    </div>
</div>

{% endblock %}

{% block body_scripts_additional %}



{% endblock body_scripts_additional %}