{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Pytania i odpowiedzi {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}


<div class="container-login100 flex-sb flex-w border border-dark" style="min-height: 20vh">
    <div class="row login100-form border border-dark" style="width:600px">
        {% csrf_token %}
        <div class="m-b-20">
            FAQ
        </div>
    </div>
</div>

{% include "main_page/footerbar.html" %}

{% endblock %}

{% block body_scripts_additional %}



{% endblock body_scripts_additional %}