{% load static %}

<div class="header clearfix footer-pos">

    <div class="row footer-border" style="">
        <div class="col-sm-3 my-auto mx-auto">
            <img id="logo" src="{% static 'media/logo.jpg' %}"  width="120" height="86">
        </div>
        <div class="col-sm-5 my-auto mx-auto">
            <p class="my-footer-style">Spływy kajakowe Krutynią</p>
        </div>
        <div class="col-sm-4 my-auto mx-auto">
            <p class="my-footer-style"><b><a style="color: #827ffe" target="_blank" href="https://krutyniasplywy.pl/" onmouseover="this.style.color='black'" onmouseout="this.style.color='#827ffe'">
                krutyniasplywy.pl
            </a></b></p>
        </div>
    </div>

</div>