{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Tak to wygląda {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}


<div class="container-login100 flex-sb flex-w m-b-120" style="min-height: auto">
    <div class="row login100-form" style="width: 600px">
        {% csrf_token %}

        <div style="width: 100%">
            <div class="main-price-list m-b-40">
                Jak to się odbywa
            </div>

            <div class="main-price-list m-b-20" style="font-size:25px">
                Etap 1 - rezerwacja kajaków w aplikacji:
            </div>
            <div class="main-price-list m-b-20" style="font-size:25px; font-family: Ubuntu">
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Wybierz swoją trasę
                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Wybierz swój kajak
                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Załóż konto (jeśli go nie posiadasz)
                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Zarezerwuj kajak
                </div>
            </div>

            <div class="main-price-list m-b-20" style="font-size:25px">
                Etap 2 - potwierdzenie rezerwacji:
            </div>
            <div class="main-price-list m-b-20" style="font-size:25px; font-family: Ubuntu">
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Potwiedź swoją rezerwację - informację jak to zrobić otrzymasz po złożeniu zamówienia
                </div>
            </div>

            <div class="main-price-list m-b-20" style="font-size:25px">
                Etap 3 - przyjazd do naszego miejsca w Krutyni:
            </div>
            <div class="main-price-list m-b-20" style="font-size:25px; font-family: Ubuntu">
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Wyznacz drogę w Google Maps
                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Zadzwoń i zapytaj o drogę
                </div>
            </div>

            <div class="main-price-list m-b-20" style="font-size:25px">
                Etap 4 - przygotowanie do spływu:
            </div>
            <div class="main-price-list m-b-20" style="font-size:25px; font-family: Ubuntu">
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Pokaż numer rezerwacji - otrzymasz go po złożeniu zamówienia.

                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Zapłata za kajaki.
                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Na życzenie klientów możemy jeszcze raz omówić wybraną trasę tuż przed spływem
                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Dojazd na miescje startu spływu
                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Spokojny, relaksujacy spływ <i class="far fa-smile"></i>
                </div>
                <div style="text-align: justify">
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Zakończenie spływu. Na każdym kajaku znajduje się logo naszej
                    firmy z numerami telefonów. Należy zadzwonić pod wybrany numer i zgłosić miejsce zakończenia oraz chęć powrotu.
                </div>
                <div>
                    <i class="fas fa-chevron-right m-r-15" style="color: #3366ff"></i>Powrót na nasz parking
                </div>
            </div>

            <div class="main-price-list m-b-20" style="font-size:25px">
                Etap 5 - bezpieczny powrót do domu
            </div>

        </div>


    </div>
</div>

{% include "main_page/footerbar.html" %}

{% endblock %}

{% block body_scripts_additional %}



{% endblock body_scripts_additional %}