{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %} Strona startowa {% endblock %}
{% block body %}

<div class="limiter">
	<div class="container-login100">
		<div class="row wrap-login100 p-t-50 p-b-90" style="width:600px">
			<form class="login100-form validate-form flex-sb flex-w" method="post" role="form">
				{% csrf_token %}
				<span class="login100-form-title p-b-51">
					Wybierz datę spływu
				</span>
<!--				<div class="container-login100-form-btn m-t-17">-->
<!--					<a class="login100-form-btn" href="app1">-->
<!--						app1-->
<!--					</a>-->
<!--				</div>-->

				{% load i18n %}
				{% language 'pl' %}
				<div class="container-login100-form-btn m-t-17">
					<a class="login100-form-btn" href="client_panel">
						{{ client_panel_date }}
					</a>
				</div>
				<div class="container-login100-form-btn m-t-17">
					<a class="login100-form-btn" href="app2">
						{{ app2 }}
					</a>
				</div>
				{% endlanguage %}
				{% load i18n %}
				{% language 'es' %}
				<p class="date">{{ article.publishing_date|date:'D, d N H:i:s e' }}</p>
				{% endlanguage %}
			</form>
		</div>
	</div>
</div>



{% endblock %}





