{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Moje zamówienia {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}


<div class="limiter">
	<div class="container-login100 flex-sb flex-w" style="min-height: 40vh">
		<div class="row login100-form p-b-90" style="width:600px">
			{% csrf_token %}

			<div class="limiter">
	        <div class="container-login100" style="min-height: 10vh; padding: 0px">
                <div class="login100-form row flex-sb flex-w">
                    <div class=".col-md-4">
                        <a class="btn" href="{% url 'main:main' %}" style="float: right; font-family: Ubuntu-Bold; font-size: 16px; background-color: #827ffe; color: #fff;" onmouseover="this.style.color='black'" onmouseout="this.style.color='#fff'">Powrót do strony głównej</a>
                    </div>
                    <div class=".col-md-4 .offset-md-4">
                        <a class="btn" href="{% url 'main:booking_detail' %}" style="float: right; font-family: Ubuntu-Bold; font-size: 16px; background-color: #827ffe; color: #fff;" onmouseover="this.style.color='black'" onmouseout="this.style.color='#fff'">Potwierdzenie ostatniej rezerwacji</a>
                    </div>
                </div>
            </div>
        </div>

			<span class="login100-form-title p-b-51">
				Moje zamówienia
			</span>

			{% language 'pl' %}
			{% for booking in union %}


				<div class="container-login100-form-btn m-b-10">
					<button  type="button" class="login100-form-btn" data-toggle="collapse" data-target="#{{ booking.exact_time }}" aria-expanded="true">{{ booking.exact_time}}</button>
				</div>
				<div class="collapse" id="{{ booking.exact_time }}" style="width:550px">
					<div class="m-b-50 m-t-20">


							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									Data zamówienia:
								</div>
								<div class="input100 col-sm-6">
									{{ booking.exact_time }}
								</div>
							</div>
							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									ID rezerwacji:
								</div>
								<div class="input100 col-sm-6">
									{{ booking.id }}
								</div>
							</div>
							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									Rezerwacja na:
								</div>
								<div class="input100 col-sm-6">
									{{ booking.first_name }} {{ booking.last_name }}
								</div>
							</div>
							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									Wybrana trasa:
								</div>
								<div class="input100 col-sm-6">
									{{ booking.route.name }}
								</div>
							</div>
							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									Dystans:
								</div>
								<div class="input100 col-sm-6">
									{{ booking.route.distance }}
								</div>
							</div>
							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									Data spływu:
								</div>
								<div class="input100 col-sm-6">
									{% for date in date %}
										{% if date.id == booking.booking_date_id%}
											{{ date.booking_date }}
										{% endif %}
									{% endfor %}
								</div>
							</div>
							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									Godzina spływu:
								</div>
								<div class="input100 col-sm-6">
									{{ booking.time }}
								</div>
							</div>
							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									Nr telefonu:
								</div>
								<div class="input100 col-sm-6">
									{{ booking.phone }}
								</div>
							</div>
							<div class="row" style="height: 35px">
								<div class="input100 col-sm-6">
									Adres email:
								</div>
								<div class="input100 col-sm-6">
									{{ booking.email }}
								</div>
							</div>


						<div class="row m-t-30" style="height: 35px">
							<div class="input100 col-sm-5">
								Wypożyczony sprzęt:
							</div>
							<div class="input100 col-sm-3">
								Rodzaj
							</div>
							<div class="input100 col-sm-2">
								Ilość
							</div>
						</div>
						{% for kayak in kayak %}
							{% if kayak.booking_id == booking.id and kayak.exact_time|time:"H:i:s" == booking.exact_time|time:"H:i:s" %}
								<div class="row" style="height: 35px">
									<div class="input100 col-sm-5">

									</div>
									<div class="input100 col-sm-3">
										{{ kayak }}
									</div>
									<div class="input100 col-sm-2">
										{{ kayak.quantity }}
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>


			{% endfor %}
			{% endlanguage %}

		</div>
	</div>
</div>


{% endblock %}

{% block body_scripts_additional %}



{% endblock body_scripts_additional %}



