{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}


{% block title %} Wybierz datę {% endblock %}
{% block body %}

<div class="limiter">
	<div class="container-login100">
		<div class="row wrap-login100 p-t-50 p-b-90 border border-dark" style="width:600px">

			{% csrf_token %}
			<span class="login100-form-title p-b-51 p-t-40">
				Twoje zamówienia
			</span>

			{% language 'pl' %}
				{% for booking in my_booking_app1 %}
					<div class="m-b-50 m-t-20">
						<div class="input100" style="height: 25px">
							Data zamówienia: {{ booking.exact_time }}
						</div>
						<div class="input100" style="height: 25px">
							{{ booking.id }}
						</div>
						<div class="input100" style="height: 25px">
							{{ booking }}
						</div>

						<div class="m-t-20">
							{% for kayak in my_kayak_app1 %}
								{% if kayak.booking_id == booking.id %}
									<div class="input100" style="height: 25px">
										{{ kayak }} {{ kayak.quantity }}
									</div>
								{% endif %}
							{% endfor %}
						</div>

					</div>
				{% endfor %}
				{% for booking in my_booking_app2 %}
					<div class="m-b-50 m-t-20">
						<div class="input100" style="height: 25px">
							Data zamówienia: {{ booking.exact_time }}
						</div>
						<div class="input100" style="height: 25px">
							{{ booking.id }}
						</div>
						<div class="input100" style="height: 25px">
							{{ booking }}
						</div>
						<div class="m-t-20">
							{% for kayak in my_kayak_app2 %}
								{% if kayak.booking_id == booking.id %}
									<div class="input100" style="height: 25px">
										{{ kayak }} {{ kayak.quantity }}
									</div>
								{% endif %}
							{% endfor %}
						</div>

					</div>
				{% endfor %}
				{% for booking in my_booking_client_panel %}
					<div class="m-b-50 m-t-20">
						<div class="input100" style="height: 25px">
							Data zamówienia: {{ booking.exact_time }}
						</div>
						<div class="input100" style="height: 25px">
							{{ booking.id }}
						</div>
						<div class="input100" style="height: 25px">
							{{ booking }}
						</div>
						<div class="m-t-20">
							{% for kayak in my_kayak_client_panel %}
								{% if kayak.booking_id == booking.id %}
									<div class="input100" style="height: 25px">
										{{ kayak }} {{ kayak.quantity }}
									</div>
								{% endif %}
							{% endfor %}
						</div>

					</div>
				{% endfor %}
			{% endlanguage %}



			{% language 'pl' %}
				{% for booking in my_booking_list %}
					<div>
						{% for query in booking|dictsortreversed:"id" %}
							<div class="m-b-50 m-t-20">
								<div class="input100" style="height: 25px">
									{{ query.exact_time }}
								</div>
								<div class="input100" style="height: 25px">
									Numer rezerwacji <font color="red">{{ query.id }}</font>
								</div>
								<div class="input100" style="height: 25px">
									{{ query }}
								</div>
								<div>
									{% for kayak_query in my_kayak_list %}
										<div class="m-t-30">
											{% for kayak in kayak_query %}
												{% if kayak.booking_id == query.id  and query.exact_time %}
													<div class="input100" style="height: 25px">
														{{ kayak }} {{ kayak.quantity }}
													</div>
												{% endif %}
											{% endfor %}
										</div>
									{% endfor %}
								</div>
							</div>
						{% endfor %}
					</div>
				{% endfor %}
			{% endlanguage %}



			{% language 'pl' %}
			{% for booking in union %}
				<div class="m-b-50 m-t-20">
					<div class="input100" style="height: 25px">
						{{ booking.exact_time }}
					</div>
					<div class="input100" style="height: 25px">
						Numer rezerwacji <font color="red">{{ booking.id }}</font>
					</div>
					<div class="input100" style="height: 25px">
						{{ booking }}
					</div>
					<div class="m-t-30">
						{% for kayak in kayak %}
							{% if kayak.booking_id == booking.id and booking and kayak.exact_time|time:"H:i:s" == booking.exact_time|time:"H:i:s" %}
								<div class="input100" style="height: 25px">
									{{ kayak.kayak.name }} {{ kayak.quantity }}
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			{% endlanguage %}

		</div>
	</div>
</div>



{% endblock %}

{% block body_scripts_additional %}


{% endblock body_scripts_additional %}



