{% load static %}

<div class="header clearfix">

    <nav class="navbar navbar-expand-lg static-top" style="background-color: #fff">
        <div class="row" style="width:100%">
            <div class="col-sm-2">
                <img id="logo" src="/static/media/logo.jpg"  width="120" height="86">
            </div>
            <div class="col-sm-8 p-t-10">
                <p class="login100-form-title">Wan-Plac Krutyń</p>
                <div>
                    <p class="login100" style="font-family: Ubuntu-Bold; color: #403866; text-align:center">Aplikacja do rezerwacji kajaków online</p>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg static-top" style="background-color: #fb8c00">
        <div class="container">
            <div>
                <a class="nav-item" href="https://krutyniasplywy.pl/" style="text-align:left; color: #fff" onmouseover="this.style.color='black'" onmouseout="this.style.color='#fff'">Odwiedź naszą stronę internetową</a>
            </div>
            <div id="navbarResponsive">
                <ul class="navbar">
                    {% if user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <button class="nav-link dropdown" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" color: #fff; font-size: 20px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#fff'">
                                Menu <i class="fas fa-bars"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="right: 0; left: auto;">
                                <a class="dropdown-item" href="{% url 'main:my_booking' %}" style=" color: #black;">Moje zamówienia</a>
                                <a class="dropdown-item" href="{% url 'registration:logout' %}" style=" color: #black;">Wyloguj się</a>
                            </div>
                        </li>
                    {% else %}
                         <li class="nav-item dropdown">
                            <button class="nav-link dropdown" id="navbarDropdownNoLogin" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style=" color: #fff; font-size: 20px" onmouseover="this.style.color='black'" onmouseout="this.style.color='#fff'">
                                Menu <i class="fas fa-bars"></i>
                            </button>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownNoLogin" style="right: 0; left: auto;">
                                <a class="dropdown-item" href="{% url 'registration:login' %}" style=" color: #black;">Zaloguj się</a>
                                <a class="dropdown-item" href="{% url 'registration:sign_up' %}" style=" color: #black;">Załóż konto</a>
                            </div>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <nav>
        {% if user.is_authenticated %}
            <ul>
                 <li class="login100 p-t-10 m-l-20" style="font-family: Ubuntu-Bold; color: #403866; text-align:left; font-size:20px">Witaj {{ user.first_name }}</li>
            </ul>
        {% endif %}
    </nav>
</div>

<!--    <link type="text/css" rel="stylesheet" href="{% static 'css/navbar.css' %}" />-->
<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>-->
