{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Moje konto {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}


<div class="container-login100 flex-sb flex-w m-b-120" style="min-height: auto; align-items: start">
    <div class="row login100-form" style="width:600px">
        {% csrf_token %}

        <div class="m-t-50">
            <div class="main-price-list m-b-40" style="width: 600px; padding: 0px; text-align: center;">
                Twoje konto zostało usunięte
            </div>

        </div>



    </div>
</div>

{% include "main_page/footerbar.html" %}

{% endblock %}

{% block body_scripts_additional %}



{% endblock body_scripts_additional %}