{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block title %} Potwierdź {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}

<div class="">
    <a class="quick-btn" href="{% url 'main:my_booking' %}" style="width: 100%; font-size: 20px">
        Przejdź do Moje zamówienia</a>
</div>

<div class="container-login100 flex-sb flex-w" style="min-height: auto">
    <div class="row login100-form m-t-100" style="width:600px; min-height: 50vh">

        {% if booking == None %}
            <span class="active-span m-b-20">Potwierdzenie rezerwacji aktywne od
                <span style="color:red">7:00</span>
                do
                <span style="color:red">9:00</span> w dniu spływu
            </span>

        {% elif booking.active is False and threshold_time < current_time and current_time < max_booking_confirm_time %}

            <form class="login100-form validate-form flex-sb flex-w" method="post" role="form">
                    {% csrf_token %}

                <div>
                    <div class="input100 m-b-25" style="width: 600px; text-align:left">
                        {{ form.code }}
                        <span class="focus-input100 border"></span>
                    </div>
                </div>

                <div>
                    <span class="active-span m-b-20">Zaznacz aby aktywować rezerwacje</span>
                    <div>
                        <div class="m-b-25">
                            {{ form.active|add_class:"active-button"|attr:"type:checkbox"}}
                            <span class="focus-input100 border"></span>
                        </div>
                    </div>
                </div>

                <div class="input100" style="text-align: center; font-size: 20px">
                    Numer zamówienia: {{ booking.code}}
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" onclick="clicked(event)">
                        Potwierdź rezerwację
                    </button>
                </div>
            </form>

        {% elif booking.active is False and max_booking_confirm_time < current_time and current_time < booking_cancel_info %}
            <span class="active-span m-b-20">Rezerwacja <span style="color:red">{{booking.code }}</span> została anulowana</span>

        {% elif booking.active is False and current_time > booking_cancel_info %}
            <span class="active-span m-b-20">Potwierdzenie rezerwacji aktywne od
                <span style="color:red">7:00</span>
                do
                <span style="color:red">9:00</span>
            </span>

        {% elif booking.active is False and current_time < threshold_time %}
            <span class="active-span m-b-20">Potwierdzenie rezerwacji aktywne od
                <span style="color:red">7:00</span>
                do
                <span style="color:red">9:00</span>
            </span>

        {% elif booking.active is True and current_time < booking_cancel_info %}
            <span class="active-span m-b-20">Rezerwacja <span style="color:red">{{booking.code }}</span> została potwierdzona</span>

        {% elif booking.active is True and current_time > booking_cancel_info %}
            <span class="active-span m-b-20">Potwierdzenie rezerwacji aktywne od
                <span style="color:red">7:00</span>
                do
                <span style="color:red">9:00</span>
            </span>

        {% endif %}
    </div>
</div>

{% include "main_page/footerbar.html" %}

{% endblock %}

{% block body_scripts_additional %}



{% endblock body_scripts_additional %}