a {
    font-size: 20px;
}

.dropdown-item:hover {
  background-color: #827ffe;
}

.main-page-button {
    font-size: 25px;
    font-family: Ubuntu-Bold;
    width: 600px;
    height: 80px;
    display: flex;
    justify-content: center;
    color: black;
    border-color: black;
    border-style: solid;
    border-radius: 5px;
    border-width: 3px;
}

.quick-btn {
    font-size: 17px;
    font-family: Ubuntu-Bold;
    width: 250px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #827ffe;
    background-color: #fff;
    border-color: #fff;
    border-style: solid;
    border-radius: 5px;
    border-width: 2px;
}

.main-page-button:hover {
    background-color:  rgba(62, 69, 81, 0.1);
}

.box {
    height: 100%;
    width: 100%;
}

.route {
    height: auto;
    text-align: justify
}

.my-footer {
    font-size: 20px;
    font-family: Ubuntu-Bold;
    color: #403866;
    text-align:center;
    margin: auto;
    vertical-align: middle;
}

.footer-border {
    border-top: 3px solid #fb8c00;
}