{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block title %} Formularz rezerwacji {% endblock %}
{% block body %}

{% include "main_page/navbar.html" %}

<div class="limiter">
	<div class="container-login100" style="min-height: 80vh">
		<div class="row wrap-login100 p-b-90" style="width:600px">

			{% if current_time >= start_break and current_time <= stop_break %}
				<div class="p-t-50" style="width: 100%">
					<span class="login100-form-title p-b-40 p-t-100" style="text-align:center">Przerwa techniczna</span>
					<span class="login100-form-title p-b-150" style="text-align:center">Wracamy o 12:30 :)</span>
				</div>
			{% else %}
				<form class="login100-form validate-form flex-sb flex-w" method="post" role="form">
				{% csrf_token %}
				<span class="login100-form-title p-b-51 p-t-40">
					Zarezerwuj kajak
				</span>
				{% if form.non_field_errors %}
					<div class="input100 text-danger m-b-5" style="text-align:center">
						{{ form.non_field_errors }}
					</div>
				{% endif %}
				{% if kayak_set.non_form_errors %}
					<div class="input100 text-danger m-b-5" style="text-align:center">
						{{ kayak_set.non_form_errors }}
					</div>
				{% endif %}

				<div class="row">
					<div class="col-sm-6">
						<span class="input100" style="height: 25px; padding: 0px">Podaj imię</span>
						<div class="wrap-input100 m-b-25">
							{{ form.first_name|add_class:"input100"|attr:"type:text"|attr:"placeholder:Imię"|attr:"name:first_name" }}
							<span class="focus-input100"></span>
						</div>
					</div>

					<div class="col-sm-6">
						<span class="input100" style="height: 25px; padding: 0px">Podaj nazwisko</span>
						<div class="wrap-input100 m-b-25">
							{{ form.last_name|add_class:"input100"|attr:"type:text"|attr:"placeholder:Nazwisko"|attr:"name:last_name" }}
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>

				<span class="input100" style="height: 25px; padding: 0px">Wybierz trasę</span>
				<div class="wrap-input100 validate-input m-b-25">
					{{ form.route|add_class:"input100"|attr:"name:route" }}
					<span class="focus-input100"></span>
				</div>

				<span class="input100" style="height: 25px; padding: 0px">Numer telefonu komórkowego</span>
				<div class="wrap-input100 validate-input m-b-25">
					{{ form.phone|add_class:"input100"|attr:"name:phone"|attr:"placeholder:Np. 600600600" }}
					<span class="focus-input100"></span>
				</div>

				<div class="row">

					<div class="col-sm-6">
							<span class="input100" style="height: 25px; padding: 0px">Wybrany dzień</span>
							<div class="wrap-input100 validate-input m-b-25 m-r-250">
								{{ form.booking_date|add_class:"input100" }}
								<span class="focus-input100"></span>
							</div>
						</div>
					<div class="col-sm-6">
						<span class="input100" style="height: 25px; padding: 0px">Wybierz godzinę</span>
						<div class="wrap-input100 validate-input m-b-25">
							{{ form.time|add_class:"input100"|attr:"type:time"|attr:"name:time" }}
							<span class="focus-input100"></span>
						</div>
					</div>
				</div>


				{{ kayak_set.management_form }}
				{% for form in kayak_set %}
					<div class="row form-row spacer">
						<div class="col-sm-7">
							<span class="input100" style="height: 25px; padding: 0px">Wybierz kajak</span>
							<div class="wrap-input100 validate-input m-b-25" data-validate = "">
								{{ form.kayak|add_class:"input100"|attr:"type:text" }}
								<span class="focus-input100"></span>
							</div>
						</div>

						<div class="col-sm-3">
							<span class="input100" style="height: 25px; padding: 0px">Podaj ilość</span>
							<div class="wrap-input100 validate-input m-b-25" data-validate = "">
								{{ form.quantity|add_class:"input100"|attr:"type:number" }}
								<span class="focus-input100"></span>
							</div>
						</div>
						<div class="col-sm-2">
								<span class="input100" style="height: 25px; padding: 0px"><br></span>
								<a class="btn remove-form-row m-l-25 m-t-5" style="background-color: red;"><i class="far fa-trash-alt" style="font-size: 35px;"></i></a>
						</div>
					</div>
				{% endfor %}

				<span class="input100" style="height: 25px; padding: 0px">Dodaj kolejny rodzaj kajaka</span>
				<a href="#" id="add_form" class="btn btn-success add-form-row m-t-5" style="color: black"><i class="fas fa-plus" style="font-size: 35px;"></i></a>

				<div class="container-login100-form-btn m-t-17">
					<button class="login100-form-btn" onclick="clicked(event)">
						Złóż zamówienie
					</button>
				</div>

			</form>
			{% endif %}
		</div>
	</div>
</div>

{% include "main_page/footerbar.html" %}

{% endblock %}

{% block body_scripts_additional %}
<script type="text/javascript" src="{% static 'js/add_formset.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

<script>
function clicked(e)
{
    if(!confirm('Jesteś pewny swojego zamówienia? Jeśli tak wciśnij OK.'))e.preventDefault();
}
</script>

<script type="text/javascript" src="{% static 'js/page_refresh.js' %}"></script>
<script>refreshAt(12, 0, 0)</script>
<script>refreshAt(12, 30, 10)</script>


{% endblock body_scripts_additional %}




