{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block body %}

    <div>
         Dziękujemy za skorzystanie z aplikacji do rezerwacji kajaków online WAN-PLAC Krutyń.
    </div>
    <br>
    <div>
        <b>Pamiętaj żeby potwierdzić swoją rezerwację!</b>
        <br>
        Jeśli zamawiasz z conajmniej jednodniowym wyprzedzeniem - wykonaj potwierdzenie w <b>dzień spływu</b>
					od godziny <b>7:00</b> do godziny <b>9:00</b>!
        <br>
        Jeśli zamawiasz na <b>dziś</b> - potwierdzenie nie jest wymagane.
        <br>
        Potwierdzenie rezerwacji:
        <br>
        Przejdź do <b><a style="font-size: 15px" href="http://127.0.0.1:8000/main/my_booking/">Moje zamówienia</a></b> a następenie kliknij <b>Potwierdź aktualne zamówienie</b>

    </div>
    <div style="color: red; font-size: 20px">
        <br>
        <b>Nie potwierdzenie rezerwacji ozanacza anulowanie zamówienia!</b>
    </div>
    <div>
        <br>
        Szczegóły rezerwacji:
    </div>
    {% language 'pl' %}

        Data wykonania zamówienia: <b>{{ detail.booking.exact_time }}</b>
        <div>
            Numer zamówienia: <b>{{ detail.booking.code }}</b>
        </div>
        <div>
            Rezerwacja na: <b>{{ detail.booking.first_name }} {{ detail.booking.last_name }}</b>
        </div>
        <div>
            Trasa: <b>{{ detail.booking.route.name }}</b>
        </div>
        <div>
            Dystans: <b>{{ detail.booking.route.distance }}</b>
        </div>
        <div>
            Czas spyłwu: <b>{{ detail.booking.time }}</b>
        </div>
        <div>
            Data spyłwu: <b>{{ detail.booking.booking_date }}</b>
        </div>
        <div>
            Podany nr telefonu: <b>{{ detail.booking.phone }}</b>
        </div>
        <div>
            Podany email: <b>{{ detail.booking.email }}</b>
        </div>
        <div>
            Wypożyczony sprzęt:
        </div>

        {% for detail in kayak %}
            <div>
                Rodzaj: <b>{{ detail.kayak.name }}</b>
            </div>
            <div>
                Ilość: <b>{{ detail.quantity }}</b>
            </div>
        {% endfor %}

        <div>
            <br>
            Swoje dotychczasowe zamówienia możesz zawsze sprawdzic na stronie aplikacji w zakładce <b>Moje zamówienia</b>.<br>
            <br>
            W razie jakichkolwiek pytań zapraszamy do kontaktu pod numerami telefonów:<br>
            <b><a href="tel:+48600029035">600 029 035</a></b><br>
            <b><a href="tel:+48600449852">600 449 852</a></b><br>
            Oraz drogą mailową:<br>
            <b>wanplac@gmail.com</b>
        </div>


    {% endlanguage %}

{% endblock %}