{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load bootstrap4 %}
{% load i18n %}

{% block body %}

    <div>
         Przypomnienie o potwierdzeniu rezerwacji <b>{{ detail.booking.code }}</b>
    </div>
    <br>
    <div>
        <b>Pamiętaj żeby potwierdzić swoją rezerwację!</b>
        <br>
        Wykonaj potwierdzenie w <b>dzień spływu</b> od godziny <b>7:00</b> do godziny <b>9:00</b>!
        <br>

        <br>
        Potwierdzenie rezerwacji:
        <br>
        Przejdź do <b><a style="font-size: 15px" href="https://wanplac.herokuapp.com/main/my_booking/">Moje zamówienia</a></b> a następenie kliknij <b>Potwierdź aktualne zamówienie</b>

    </div>
    <div style="color: red; font-size: 20px">
        <br>
        <b>Nie potwierdzenie rezerwacji ozanacza anulowanie zamówienia!</b>
    </div>


    <div>
        <br>
        Swoje dotychczasowe zamówienia możesz zawsze sprawdzic na stronie aplikacji w zakładce <b>Moje zamówienia</b>.<br>
        <br>
        W razie jakichkolwiek pytań zapraszamy do kontaktu pod numerami telefonów:<br>
        <b><a href="tel:+48600029035">600 029 035</a></b><br>
        <b><a href="tel:+48600449852">600 449 852</a></b><br>
        Oraz drogą mailową:<br>
        <b>wanplac@gmail.com</b>
    </div>


{% endblock %}